
Flask==0.12.2
gunicorn==19.7.1
Keras==2.0.8
numpy==1.12.1
protobuf==3.2.0
pyasn1==0.1.9
pycurl==7.43.0
requests==2.9.1
scipy==0.19.1
six==1.10.0

tensorflow==1.0.1
urllib3==1.13.1
h5py==2.7.0
Pillow==4.2.1

Werkzeug==0.12.2